<app-loader *ngIf="showLoader"></app-loader>
<div class="container">
  <!-- Filter Section S -->
  <div class="filterSection" >
    <div class="headerText"><p>Filter Section:</p></div>

    <div class="filterCardContainer" id="scrollBar">
      <!-- Main filter section Starts -->
      <mat-card>
        <mat-card-content>
          <form [formGroup]="filterForm">
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Employee ID</mat-label>
                <input matInput type="text" placeholder="Enter your Employee ID" formControlName="empId" minlength="2"
                  maxlength="10">
                <mat-error
                  *ngIf="filterForm.controls?.['empId']?.touched && filterForm.controls?.['empId']?.errors?.['minlength']">
                  Employee ID minimum length is 2
                </mat-error>
                <!-- <mat-error
                  *ngIf="loginForm.controls?.['userName']?.touched && loginForm.controls?.['userName']?.errors?.['minlength']">
                  Please enter minimum 6 and maximum 14 characters
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Suggestion ID</mat-label>
                <input matInput type="text" placeholder="Enter ID" formControlName="suggestionId" minlength="2"
                  maxlength="20">
                <mat-error
                  *ngIf="filterForm.controls?.['suggestionId']?.touched && filterForm.controls?.['suggestionId']?.errors?.['minlength']">
                  Suggestion ID minimum length is 2
                </mat-error>
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Suggestion Title</mat-label>
                <input matInput type="text" placeholder="Enter Title" formControlName="suggestionTitle" minlength="2"
                  maxlength="50">
                <mat-error
                  *ngIf="filterForm.controls?.['suggestionTitle']?.touched && filterForm.controls?.['suggestionTitle']?.errors?.['minlength']">
                  Suggestion title minimum length is 2
                </mat-error>
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Select your Status" formControlName="status">
                  <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option> -->
                  <mat-option value="1">Value 1</mat-option>
                  <mat-option value="2">Value 2</mat-option>
                  <mat-option value="3">Value 3</mat-option>
                </mat-select>

                <!-- <mat-error
                  *ngIf="filterForm.controls?.['status']?.touched && filterForm.controls?.['status']?.errors?.['required']">
                  Please select your Status
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Grade</mat-label>
                <mat-select placeholder="Select your Grade" formControlName="grade">
                  <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option> -->
                  <mat-option value="1">Value 1</mat-option>
                  <mat-option value="2">Value 2</mat-option>
                  <mat-option value="3">Value 3</mat-option>
                </mat-select>
                <!-- <mat-error
                  *ngIf="filterForm.controls?.['grade']?.touched && filterForm.controls?.['grade']?.errors?.['required']">
                  Please enter your Line
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="mainFilterField dateRange" floatLabel="always">
                <mat-label>Select a Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                  <input matStartDate formControlName="fromDate" placeholder="DD-MM-YYYY" readonly (click)="picker.open()">
                  <input matEndDate formControlName="toDate" placeholder="DD-MM-YYYY" readonly (click)="picker.open()">
                </mat-date-range-input>
                <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

            <div class="flexItem actionBtn">
              <button mat-raised-button color="primary" (click)="applyFilter()" [disabled]="filterForm.pristine">Apply</button>
              <button mat-raised-button color="warn" (click)="cancelFilter()">Reset</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <!-- Main filter section Ends -->
      <!-- Secondary filter starts -->
      <mat-card *ngIf="loginId != 0">
        <mat-card-content>
          <div class="filterCard">
            <div class="cardButton" (click)="cardFilterChange('All')" [ngClass]="filterType == 'All' ? 'active' : ''">
              <span id="noSpan">{{ filterType == 'All' ? suggestionList?.length : '-' }}</span>
              <span id="textSpan">All Suggestions</span>
            </div>

            <div class="cardButton" (click)="cardFilterChange('My')" [ngClass]="filterType == 'My' ? 'active' : ''">
              <span id="noSpan"> {{ filterType == 'My' ? suggestionList?.length : '-' }}</span>
              <span id="textSpan">My Suggestions</span>
            </div>
          </div>

          <div class="filterCard">
          <div class="cardButton" (click)="cardFilterChange('Pen')" [ngClass]="filterType == 'Pen' ? 'active' : ''">
            <span id="noSpan">{{ filterType == 'Pen' ? suggestionList?.length : '-' }}</span>
            <span id="textSpan">My Pending Suggestions</span>
          </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Secondary filter ends -->
    </div>
  </div>
  <!-- Filter Section E -->

  <!-- Suggestion Section S -->
  <!-- <div class="listViewScrollContainer"> -->
  <div class="suggestionListSection" >
    <div class="headerText"><p>Suggestion List:</p></div>

    <div class="listCardContainer" id="scrollBar" #listView>
      <div class="suggestionCard">
        <mat-card *ngFor="let suggestion of suggestionList; let i = index;" [ngClass]="{'selected-card': selectedSuggestionIndex === i}" (click)="suggestionSelect(suggestion, i)">
          <mat-card-content>
            <div class="detailsGridContainer">
              <div class="detail1">
                <div id="detail1">
                  <span id="iconLabel"><mat-icon>confirmation_number</mat-icon><mat-label>S ID:</mat-label>
                    {{ suggestion?.ID }}</span>
                  <span id="iconLabel"><mat-icon>access_time</mat-icon> {{ suggestion?.CreatedInDays }}</span>
                  <span id="iconLabel"><mat-icon>calendar_today</mat-icon> {{ suggestion?.CreatedDate}}</span>
                </div>
              </div>
              <div class="detail2">
                <div class="profileImage">
                  <span><mat-icon> person_pin</mat-icon></span>
                  <p id="nameLabel">{{ suggestion?.EmpName}}</p>
                </div>

                <div id="detail2">
                  <mat-chip class="listCardTitleChip"> {{ suggestion?.Title }}</mat-chip>
                  <p>{{ suggestion?.Issue }}</p>
                  <p>{{ suggestion?.Idea }}</p>
                  <p>{{ suggestion?.Remarks }}</p>
                </div>
              </div>
              <div class="detail3">
                <div id="detail3">
                  <span id="iconLabel"><mat-icon>card_travel</mat-icon><mat-label>Department:</mat-label><p [title]="suggestion?.Department"> {{ suggestion?.Department }} </p></span>
                  <span id="iconLabel"><mat-icon>explore</mat-icon><mat-label>Line:</mat-label> 
                    <p [title]="suggestion?.Line">{{ suggestion?.Line }}</p></span>
                  <span id="iconLabel"><mat-icon>donut_large</mat-icon><mat-label>Zone:</mat-label> <p [title]="suggestion?.Zone">{{ suggestion?.Zone }}</p></span>
                </div>
              </div>
              <div class="detail4">
                <span id="iconLabel"><mat-icon>work</mat-icon><mat-label>Emp. ID:</mat-label>{{ suggestion?.EmpID }}</span>
                <span> status: <mat-chip class="listCardChip">{{ suggestion?.Status }}</mat-chip></span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="noListCard" *ngIf="suggestionList?.length == 0">
          <mat-card-content>
            <h3>No Suggestion Found!</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="addSuggestionContainer">
        <button mat-raised-button color="primary" type="submit" (click)="createSuggestion()"
          class="addSuggestionBtn"><mat-icon>add_circle</mat-icon> Create Suggestion </button>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- Suggestion Section E -->

  <!-- active board Section S -->
  <div class="activeBoardSection" *ngIf="showAddSuggestion || suggestionList.length > 0">
    <!-- <h1>Add suggestion & suggestion tracker here</h1> -->
    <!-- Add Suggestion section starts -->
    <div class="addSuggestion" *ngIf="showAddSuggestion">
      <div class="headerText"><p>Create Suggestion:</p></div>
      <div class="createSuggestionContainer" id="scrollBar">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="addSuggestionForm">
            <!-- Row 1 -->
            <div class="flexItem">
              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Employee ID</mat-label>
                <input matInput type="text" placeholder="Enter your Employee ID" formControlName="empId" required minlength="2"
                  maxlength="10">
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['empId']?.touched && addSuggestionForm.controls?.['empId']?.errors?.['required']">
                  Please enter your Employee ID
                </mat-error>
                <!-- <mat-error
                  *ngIf="loginForm.controls?.['userName']?.touched && loginForm.controls?.['userName']?.errors?.['minlength']">
                  Please enter minimum 6 and maximum 14 characters
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Employee Name</mat-label>
                <input matInput type="text" placeholder="Enter your Name" formControlName="empName" required minlength="2"
                  maxlength="20">
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['empName']?.touched && addSuggestionForm.controls?.['empName']?.errors?.['required']">
                  Please enter your Name
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 2 -->
            <div class="flexItem">
              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Employee Department</mat-label>
                <mat-select placeholder="Select your Department" formControlName="department" ngDefaultControl required (selectionChange)="departmentChange($event)">
                  <mat-option *ngFor="let dept of department" [value]="dept">
                    {{ dept?.Department }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['department']?.touched && addSuggestionForm.controls?.['department']?.errors?.['required']">
                  Please select your Department
                </mat-error>
              </mat-form-field>

              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Employee Line</mat-label>
                <mat-select placeholder="Select your Line" formControlName="line" ngDefaultControl required (selectionChange)="lineChange($event)">
                  <mat-option *ngFor="let li of line" [value]="li">
                    {{ li?.Line }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['line']?.touched && addSuggestionForm.controls?.['line']?.errors?.['required']">
                  Please enter your Line
                </mat-error>
              </mat-form-field>

              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Employee Zone</mat-label>
                <mat-select placeholder="Select your Zone" formControlName="zone" ngDefaultControl (selectionChange)="zoneChange($event)">
                  <mat-option *ngFor="let zo of zone" [value]="zo">
                    {{ zo?.Zone }}
                  </mat-option>
                </mat-select>

                <mat-error
                  *ngIf="addSuggestionForm.controls?.['zone']?.touched && addSuggestionForm.controls?.['zone']?.errors?.['required']">
                  Please select your Zone
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 3 -->
            <div class="flexItem">
              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Suggestion Title</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" placeholder="Enter Suggestion Title" formControlName="title"></textarea>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['title']?.touched && addSuggestionForm.controls?.['title']?.errors?.['required']">
                  Please enter suggestion Title
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 4 -->
            <div class="flexItem">
              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Issue</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Enter Issue" formControlName="issue"></textarea>

                <mat-error
                  *ngIf="addSuggestionForm.controls?.['issue']?.touched && addSuggestionForm.controls?.['issue']?.errors?.['required']">
                  Please enter Issue details
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 5 -->
            <div class="flexItem">
              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Suggestion Idea</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Enter Suggestion idea" formControlName="idea"></textarea>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['idea']?.touched && addSuggestionForm.controls?.['idea']?.errors?.['required']">
                  Please enter suggestion Idea
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 6 -->
            <div class="flexItem">
              <mat-form-field class="flexItemCenter" floatLabel="always">
                <mat-label>Remarks</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6" placeholder="Enter Remarks" formControlName="remarks"></textarea>

                <mat-error
                  *ngIf="addSuggestionForm.controls?.['remarks']?.touched && addSuggestionForm.controls?.['remarks']?.errors?.['required']">
                  Please enter Remark
                </mat-error>
              </mat-form-field>
            </div>

            <div class="flexItem actionBtn">
              <button mat-raised-button color="primary" (click)="addSuggestion(); scrollToTop(listView);"
                [disabled]="!addSuggestionForm.valid">Submit</button>
              <button mat-raised-button color="warn" (click)="cancelSuggestion()">Cancel</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
    <!-- Add Suggestion section ends -->

    <!-- View status section starts -->
    <div class="viewStatus" *ngIf="selectedSuggestion && !showAddSuggestion">
      <div class="headerText"><p>View Suggestion:</p></div>

      <div class="viewSuggestionDetails">
        <mat-card>
          <mat-card-content>
            <div class="detailsGridContainer">
              <div class="detail1">
                <div id="detail1">
                  <span id="iconLabel"><mat-icon>confirmation_number</mat-icon><mat-label>S ID:</mat-label>
                    {{ selectedSuggestion?.ID }}</span>
                  <span id="iconLabel"><mat-icon>access_time</mat-icon> {{ selectedSuggestion?.CreatedInDays }}</span>
                  <span id="iconLabel"><mat-icon>calendar_today</mat-icon> {{ selectedSuggestion?.CreatedDate}}</span>
                </div>
              </div>
              <div class="detail2">
                <div class="profileImage">
                  <span><mat-icon> person_pin</mat-icon></span>
                  <p id="nameLabel">{{ selectedSuggestion?.EmpName}}</p>
                </div>

                <div id="detail2">
                  <mat-chip class="listCardTitleChip"> {{ selectedSuggestion?.Title }}</mat-chip>
                  <p>{{ selectedSuggestion?.Issue }}</p>
                  <p>{{ selectedSuggestion?.Idea }}</p>
                  <p>{{ selectedSuggestion?.Remarks }}</p>
                </div>
              </div>
              <div class="detail3">
                <div id="detail3">
                  <span id="iconLabel"><mat-icon>card_travel</mat-icon><mat-label>Department:</mat-label><p [title]="selectedSuggestion?.Department"> {{ selectedSuggestion?.Department }} </p></span>
                  <span id="iconLabel"><mat-icon>explore</mat-icon><mat-label>Line:</mat-label> 
                    <p [title]="selectedSuggestion?.Line">{{ selectedSuggestion?.Line }}</p></span>
                  <span id="iconLabel"><mat-icon>donut_large</mat-icon><mat-label>Zone:</mat-label> <p [title]="selectedSuggestion?.Zone">{{ selectedSuggestion?.Zone }}</p></span>
                </div>
              </div>
              <div class="detail4">
                <span id="iconLabel"><mat-icon>work</mat-icon><mat-label>Emp. ID:</mat-label>{{ selectedSuggestion?.EmpID }}</span>
                <span> status: <mat-chip class="listCardChip">{{ selectedSuggestion?.Status }}</mat-chip></span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <mat-error class="loginErrorMessage" *ngIf="loginId == 0">Please login to Approve or Reject Suggestion!</mat-error>

      <div class="containerOverflow" id="scrollBar">
      <mat-card>
        <mat-card-content>
            <div class="containerTimeLine">
              <form [formGroup]="viewSuggestionForm">
            <!-- *Stage 1  -->
            <div class="timeline-block timeline-block-right" *ngIf="this.detailTree[0]?.s1s == 'Show'">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <mat-accordion class="timeline-content" formGroupName="sc">
                <mat-expansion-panel [expanded]="indexExpanded == 1">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Suggestion Created </mat-panel-title>
                    <!-- <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>

                  <div class="flexItemVS">
                    <mat-label class="flexItemVsLabel pt mr" *ngIf="selectedSuggestion?.s1?.S1CompletedStatus == 'Completed'">{{ selectedSuggestion?.s1?.S1ApprovalStatus }} Date: {{ selectedSuggestion?.s1?.S1ApprovalDate }}</mat-label>
                  
                    <mat-form-field class="flexItemField pt"  floatLabel="always">
                      <mat-label>Remarks:</mat-label>
                      <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2" placeholder="Enter Remarks" formControlName="rejectionRemarks"></textarea>

                      <mat-error
                        *ngIf="viewSuggestionForm?.get('sc.rejectionRemarks')?.touched && viewSuggestionForm?.get('sc.rejectionRemarks')?.errors?.['required']">
                        Please enter Remarks
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="flexItemVS">
                    <mat-label class="flexItemVsLabel" *ngIf="selectedSuggestion?.s1?.S1Evaluator != ''">Assigned to Evaluator: {{ selectedSuggestion?.s1?.S1Evaluator }}</mat-label>
                  </div>
                  <div class="flexItemVS actionBtnVS"  *ngIf="selectedSuggestion?.s1?.S1CompletedStatus != 'Completed'">
                    <button mat-raised-button color="primary" *ngIf="selectedSuggestion?.s1?.S1CompletedStatus == 'NotCompleted' || selectedSuggestion?.s1?.S1ApprovalStatus == 'Approved'" [disabled]="viewSuggestionForm.controls['sc'].disabled || viewSuggestionForm.controls['sc'].invalid" (click)="approveStage('S1')">Approve</button>
                    <button mat-raised-button color="warn" *ngIf="selectedSuggestion?.s1?.S1CompletedStatus == 'NotCompleted' || selectedSuggestion?.s1?.S1ApprovalStatus != 'Approved'" [disabled]="viewSuggestionForm.controls['sc'].disabled || viewSuggestionForm.controls['sc'].invalid" (click)="rejectStage('S1')">Reject</button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              
            </div>
            <!-- Stage 1* -->

            <!-- *Stage 2  -->
            <div class="timeline-block timeline-block-right" *ngIf="this.detailTree[1]?.s2s == 'Show'">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <mat-accordion class="timeline-content" formGroupName="dl">
                <mat-expansion-panel [expanded]="indexExpanded == 2">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Department Line Header - Approval Status </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="flexItemVS pb">
                    <mat-label class="flexItemVsLabel" *ngIf="selectedSuggestion?.s2?.S2CompletedStatus == 'Completed'">Approved Date: {{ selectedSuggestion?.s2?.S2ApprovalDate }}</mat-label>
                  </div>
                  <div class="flexItemVS">
                    <mat-form-field class="flexItemLeft mr" floatLabel="always">
                      <mat-label>Edit Suggestion Title</mat-label>
                      <input matInput type="text" placeholder="Edit Suggestion Title" minlength="2"
                        maxlength="50" formControlName="editSuggestion">
                        <mat-error
                        *ngIf="viewSuggestionForm?.get('dl.editSuggestion')?.touched && viewSuggestionForm?.get('dl.editSuggestion')?.errors?.['required']">
                        Please enter Suggestion Title
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="flexItemRight" floatLabel="always">
                      <mat-label>Before photo upload</mat-label>
                      <mat-toolbar>
                        <input matInput placeholder="Upload image" formControlName="beforeImgUpload"/>
                        <mat-icon>upload</mat-icon>
                        <!-- <mat-icon (click)="openImageViewer('dl')">visibility</mat-icon> -->
                      </mat-toolbar>
                      <input type="file" accept=".jpeg,.jpg,.png" id="fileInput" (change)="uploadFiles($event, 'dl')"/>
                      <mat-error *ngIf="viewSuggestionForm?.get('dl.beforeImgUpload')?.touched && viewSuggestionForm?.get('dl.beforeImgUpload')?.errors?.['required']">Please select Before Photo Uplaod</mat-error>
                    </mat-form-field>
                    <mat-icon class="imageViewButton" [ngClass]="viewSuggestionForm?.get('dl.beforeImgUpload')?.value == '' ? 'disable' : ''"  (click)="openImageViewer('dl')" matTooltip="View File">visibility</mat-icon>
                  </div>
                  <div class="flexItemVS">
                    <mat-form-field class="flexItemRight mr" floatLabel="always">
                      <mat-label>Category</mat-label>
                      <mat-select placeholder="Select your Catogory" ngDefaultControl formControlName="category">
                        <mat-option *ngFor="let c of categoryList" [value]="c?.value">
                          {{ c?.value }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="viewSuggestionForm?.get('dl.category')?.touched && viewSuggestionForm?.get('dl.category')?.errors?.['required']">Please select Category</mat-error>
                    </mat-form-field>
      
                    <mat-form-field class="flexItemLeft" floatLabel="always">
                      <mat-label>Implementation</mat-label>
                      <mat-select placeholder="Select your implementation" ngDefaultControl  formControlName="implementation">
                        <mat-option *ngFor="let im of implementationList" [value]="im?.value">
                          {{ im?.value }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="viewSuggestionForm?.get('dl.implementation')?.touched && viewSuggestionForm?.get('dl.implementation')?.errors?.['required']">Please select Implementation</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="flexItemVS">
                    <mat-label class="flexItemVsLabel" *ngIf="selectedSuggestion?.s2?.S2Evaluator != ''">Assigned to Evaluator: {{ selectedSuggestion?.s2?.S2Evaluator }}</mat-label>
                  </div>
                  <div class="flexItemVS actionBtn"  *ngIf="selectedSuggestion?.s2?.S2CompletedStatus != 'Completed'">
                    <button mat-raised-button color="primary" (click)="approveStage('S2')" [disabled]="viewSuggestionForm.controls['dl'].disabled || viewSuggestionForm.controls['dl'].invalid">Submit</button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              
            </div>
            <!-- Stage 2* -->

            <!-- *Stage 3  -->
            <div class="timeline-block timeline-block-right" *ngIf="this.detailTree[2]?.s3s == 'Show'">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <mat-accordion class="timeline-content" formGroupName="im">
                <mat-expansion-panel [expanded]="indexExpanded == 3">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Implementation team - Pending status </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="flexItemVS">
                    <mat-label class="flexItemVsLabel pb" *ngIf="selectedSuggestion?.s3?.S3CompletedStatus == 'Completed'">{{ selectedSuggestion?.s3?.S3ApprovalStatus }} Date: {{ selectedSuggestion?.s3?.S3ApprovalDate }}</mat-label>
                  </div>
                    <div class="flexItemVS mr">
                      <mat-form-field  floatLabel="always">
                        <mat-label>Target Date</mat-label>
                        <input matInput [matDatepicker]="picker2" placeholder="DD-MM-YYYY" formControlName="targetDate" readonly (click)="picker2.open()" [min]="minDate">
                        <!-- <mat-hint>DD-MM-YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        <mat-error *ngIf="viewSuggestionForm?.get('im.targetDate')?.touched && viewSuggestionForm?.get('im.targetDate')?.errors?.['required']">Please select Target Date</mat-error>
                    </mat-form-field>

                      <mat-form-field  floatLabel="always">
                        <mat-label>Remarks:</mat-label>
                        <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2" placeholder="Enter Remarks" formControlName="rejectionRemarks"></textarea>
                          <mat-error *ngIf="viewSuggestionForm?.get('im.rejectionRemarks')?.touched && viewSuggestionForm?.get('im.rejectionRemarks')?.errors?.['required']">Please enter Remarks</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="flexItemVS">
                      <mat-label class="flexItemVsLabel" *ngIf="selectedSuggestion?.s3?.S3Evaluator != ''">Assigned to Evaluator: {{ selectedSuggestion?.s3?.S3Evaluator }}</mat-label>
                    </div>
                    <div class="flexItemVS actionBtn" *ngIf="selectedSuggestion?.s3?.S3CompletedStatus != 'Completed'">
                      <button mat-raised-button color="primary" *ngIf="selectedSuggestion?.s3?.S3CompletedStatus == 'NotCompleted' || selectedSuggestion?.s3?.S3ApprovalStatus == 'Approved'" [disabled]="viewSuggestionForm.controls['im'].disabled || viewSuggestionForm.controls['im'].invalid" (click)="approveStage('S3')">Approve</button>
                      <button mat-raised-button color="warn" *ngIf="selectedSuggestion?.s3?.S3CompletedStatus == 'NotCompleted' || selectedSuggestion?.s3?.S3ApprovalStatus != 'Approved'" [disabled]="viewSuggestionForm.controls['im'].disabled || viewSuggestionForm.controls['im'].invalid" (click)="rejectStage('S3')">Reject</button>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
              
            </div>
            <!-- Stage 3* -->

            <!-- *Stage 4  -->
            <div class="timeline-block timeline-block-right" *ngIf="this.detailTree[3]?.s4s == 'Show'">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <mat-accordion class="timeline-content" formGroupName="pi">
                <mat-expansion-panel [expanded]="indexExpanded == 4">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Pending Implementation </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="flexItemVS">
                    <mat-label class="flexItemVsLabel pb" *ngIf="selectedSuggestion?.s4?.S4CompletedStatus == 'Completed'">Approved Date: {{ selectedSuggestion?.s4?.S4ApprovalDate }}</mat-label>
                  </div>
                  <div class="flexItemVS">
                    <mat-form-field class="flexItemLeft mr" floatLabel="always">
                      <mat-label>Description</mat-label>
                      <input matInput type="text" placeholder="Enter description" minlength="2"
                        maxlength="50" formControlName="description">
                        <mat-error *ngIf="viewSuggestionForm?.get('pi.description')?.touched && viewSuggestionForm?.get('pi.description')?.errors?.['required']">Please enter Description</mat-error>
                    </mat-form-field>
                    <mat-form-field class="flexItemRight" floatLabel="always">
                      <mat-label>After photo upload</mat-label>
                      <mat-toolbar>
                        <input matInput placeholder="Upload image" formControlName="afterImgUpload"/>
                        <mat-icon>upload</mat-icon>
                        <!-- <mat-icon (click)="openImageViewer('pi')">visibility</mat-icon> -->
                      </mat-toolbar>
                      <input type="file" accept=".jpeg,.jpg,.png" id="fileInput" (change)="uploadFiles($event, 'pi')"/>
                      <mat-error *ngIf="viewSuggestionForm?.get('pi.afterImgUpload')?.touched && viewSuggestionForm?.get('pi.afterImgUpload')?.errors?.['required']">Please upload After Photo</mat-error>
                    </mat-form-field>
                    
                      <mat-icon class="imageViewButton" [ngClass]="viewSuggestionForm?.get('pi.afterImgUpload')?.value == '' ? 'disable' : ''"  (click)="openImageViewer('pi')" matTooltip="View File">visibility</mat-icon>
                    
                  </div>
                  <div class="flexItemVS labelText">
                    <mat-label class="flexItemVsLabel mr">Benefits: {{ selectedSuggestion?.s4?.S4Benefits }}</mat-label>
      
                    <mat-form-field class="flexItemLeft" floatLabel="always" *ngIf="selectedSuggestion?.s4?.S4Benefits == 'Cost'">
                      <mat-label>Cost savings</mat-label>
                      <input matInput type="text" placeholder="Enter cost savings" minlength="2"
                        maxlength="50" formControlName="costSavings">
                        <mat-error *ngIf="viewSuggestionForm?.get('pi.costSavings')?.touched && viewSuggestionForm?.get('pi.costSavings')?.errors?.['required']">Please enter Cost Savings</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="flexItemVS labelText">
                    <mat-label class="flexItemVsLabel mr" *ngIf="selectedSuggestion?.s4?.S4Evaluator != ''">Assigned to Evaluator: {{ selectedSuggestion?.s4?.S4Evaluator }}</mat-label>
                    <!-- <mat-label class="flexItemVsLabel">Assigned to Evaluator: Name</mat-label> -->
                  </div>
                  <div class="flexItemVS actionBtn">
                    <button mat-raised-button color="primary" (click)="approveStage('S4')" [disabled]="viewSuggestionForm.controls['pi'].disabled || viewSuggestionForm.controls['pi'].invalid" *ngIf="selectedSuggestion?.s4?.S4CompletedStatus != 'Completed'">Submit</button>

                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              
            </div>
            <!-- Stage 4* -->

            <!-- *Stage 5  -->
            <div class="timeline-block timeline-block-right" *ngIf="this.detailTree[4]?.s5s == 'Show'">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <mat-accordion class="timeline-content" formGroupName="fi">
                <mat-expansion-panel [expanded]="indexExpanded == 5">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Finance Validation </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="flexItemVS labelText">
                    <mat-label class="flexItemVsLabel pt mr" *ngIf="selectedSuggestion?.s5?.S5CompletedStatus == 'Completed'">Approved Date: {{ selectedSuggestion?.s5?.S5ApprovalDate }}</mat-label>
      
                    <mat-form-field class="flexItemLeft pt" floatLabel="always">
                      <mat-label>Actual Cost savings</mat-label>
                      <input matInput type="text" placeholder="Enter cost savings" minlength="2"
                        maxlength="50" formControlName="costSavings">
                        <mat-error *ngIf="viewSuggestionForm?.get('fi.costSavings')?.touched && viewSuggestionForm?.get('fi.costSavings')?.errors?.['required']">Please enter Cost Savings</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="flexItemVS labelText">
                    <mat-label class="flexItemVsLabel" *ngIf="selectedSuggestion?.s5?.S5Evaluator != ''">Submit to Evaluator: {{ selectedSuggestion?.s5?.S5Evaluator }}</mat-label>
                  </div>
                  <div class="flexItemVS"  *ngIf="selectedSuggestion?.s5?.S5CompletedStatus != 'Completed'">
                    <button mat-raised-button color="primary" (click)="approveStage('S5')" [disabled]="viewSuggestionForm.controls['fi'].disabled || viewSuggestionForm.controls['fi'].invalid">Submit</button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              
            </div>
            <!-- Stage 5* -->

            <!-- *Stage 6  -->
            <div class="timeline-block timeline-block-right" *ngIf="this.detailTree[5]?.s6s == 'Show'">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <mat-accordion class="timeline-content" formGroupName= "ce">
                <mat-expansion-panel [expanded]="indexExpanded == 6">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Category Evaluator </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="flexItemVS labelText">
                    <mat-label class="flexItemVsLabel pt pb" *ngIf="selectedSuggestion?.s6?.S6CompletedStatus == 'Completed'">Approved Date: {{ selectedSuggestion?.s6?.S6ApprovalDate }}</mat-label>
                  </div>
                  <div class="flexItemVS">
                    <mat-form-field class="flexItemRight mr" floatLabel="always">
                      <mat-label>Grade</mat-label>
                      <mat-select placeholder="Select your Grade" ngDefaultControl formControlName="grade">
                        <mat-option *ngFor="let g of gradeList" [value]="g?.id">
                          {{ g?.value }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="viewSuggestionForm?.get('ce.grade')?.touched && viewSuggestionForm?.get('ce.grade')?.errors?.['required']">Please select Grade</mat-error>
                    </mat-form-field>

                    <mat-form-field class="flexItemLeft" floatLabel="always">
                      <mat-label>Comment</mat-label>
                      <input matInput type="text" placeholder="Enter comment" minlength="2"
                        maxlength="50" formControlName="comment">
                        <mat-error *ngIf="viewSuggestionForm?.get('ce.comment')?.touched && viewSuggestionForm?.get('ce.comment')?.errors?.['required']">Please enter Comments</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="flexItemVS labelText">
                    <mat-label class="flexItemVsLabel" *ngIf="selectedSuggestion?.s6?.S6Evaluator != ''">Submit to Evaluator: {{ selectedSuggestion?.s6?.S6Evaluator }}</mat-label>
                  </div>
                  <div class="flexItemVS labelText"  *ngIf="selectedSuggestion?.s6?.S6CompletedStatus != 'Completed'">
                    <button mat-raised-button color="primary" (click)="approveStage('S6')" [disabled]="viewSuggestionForm.controls['ce'].disabled || viewSuggestionForm.controls['ce'].invalid">Submit</button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              
            </div>
            <!-- Stage 6* -->

            <!-- *Stage 7  -->
            <div class="timeline-block timeline-block-right" *ngIf="this.detailTree[6]?.s7s == 'Show'">
              <div class="marker active"><mat-icon>check</mat-icon></div> 
              <!--partialActive-->
              <!-- <div> -->
              <mat-accordion class="timeline-content" formGroupName= "hr">
                <mat-expansion-panel [expanded]="indexExpanded == 7">
                  <mat-expansion-panel-header>
                    <mat-panel-title> HR Evaluator </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="flexItemVS labelText">
                    <mat-label class="flexItemVsLabel pb" *ngIf="selectedSuggestion?.s7?.S7CompletedStatus == 'Completed'">Approved Date: {{ selectedSuggestion?.s7?.S7ApprovalDate }}</mat-label>
                  </div>
                  <!-- <div class="flexItemVS labelText">
                    <mat-form-field class="flexItemRight mr" floatLabel="always">
                      <mat-label>Grade</mat-label>
                      <mat-select placeholder="Select your Grade" ngDefaultControl formControlName="grade">
                        <mat-option *ngFor="let g of gradeList" [value]="g?.id">
                          {{ g?.value }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="viewSuggestionForm?.get('hr.grade')?.touched && viewSuggestionForm?.get('hr.grade')?.errors?.['required']">Please select Grade</mat-error>
                    </mat-form-field>

                    <button mat-raised-button color="primary">Payment Credited</button>
                  </div> -->
                  <div class="flexItemVS labelText">
                    <mat-form-field class="flexItemRight mr" floatLabel="always">
                    <mat-label>Employee Photo upload</mat-label>
                      <mat-toolbar>
                        <input matInput placeholder="Upload image" formControlName="imgUpload"/>
                        <mat-icon>upload</mat-icon>
                        <!-- <mat-icon (click)="openImageViewer('hr')">visibility</mat-icon> -->
                      </mat-toolbar>
                      <input type="file" accept=".jpeg,.jpg,.png" id="fileInput" (change)="uploadFiles($event, 'hr')"/>
                      <mat-error *ngIf="viewSuggestionForm?.get('hr.imgUpload')?.touched && viewSuggestionForm?.get('hr.imgUpload')?.errors?.['required']">Please upload Photo</mat-error>
                    </mat-form-field>
                    <mat-icon class="imageViewButton" [ngClass]="viewSuggestionForm?.get('hr.imgUpload')?.value == '' ? 'disable' : ''"  (click)="openImageViewer('hr')" matTooltip="View File">visibility</mat-icon>
                  </div>
                  <!-- <div class="flexItemVS">
                    <mat-label class="flexItemVsLabel">Added to winner's board: Name</mat-label>
                  </div> -->
                  <div class="flexItemVS">
                    <button mat-raised-button color="primary" (click)="approveStage('S7')" [disabled]="viewSuggestionForm.controls['hr'].disabled || viewSuggestionForm.controls['hr'].invalid" *ngIf="selectedSuggestion?.s7?.S7CompletedStatus != 'Completed'">Submit</button>
                    
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <!-- </div> -->
            </div>
            <!-- Stage 7* -->
          </form>
        
            <!-- <div class="timeline-block timeline-block-left">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <div class="timeline-content">
                  <h3>Seconed Year</h3>
                  <span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span>
                  
              </div>
            </div> -->
          </div>
        </mat-card-content>
      </mat-card>
      </div>

      <!-- Image modal starts-->
      <ng-template #imageViewerDialog>
        <!-- <div class="logOutDialog"> -->
              <div class="dialogHeader">
                <h1 mat-dialog-title>{{ imageType?.name}}</h1>
                <mat-icon mat-button matDialogClose="yes">close</mat-icon>  
              </div>
              <div class="dialogContent">
                <img *ngIf="imageType?.name" [src]="imageType?.src" [alt]="imageType?.name" width="700">
              </div>
        <!-- </div> -->
      </ng-template>
      <!-- Image modal ends -->
    </div>
    <!-- View status section ends -->
  </div>
  <!-- active board Section E -->
</div>