<div class="container">
  <!-- Filter Section S -->
  <div class="filterSection" id="scrollBar">
    <div class="filterCardContainer">
      <h1>Filter section</h1>
      <mat-card>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius hic pariatur dicta sapiente. Quos vero
          laboriosam autem iusto recusandae quidem laborum officia, cum ratione necessitatibus harum nemo vitae rerum.
          <hr>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione distinctio praesentium assumenda eum minima
          nostrum numquam maiores atque provident error at ullam, expedita nisi? Aperiam magnam porro quis nemo autem.
          <hr>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cum sed error quod fugiat corrupti saepe eum
          natus? Ipsum enim deserunt expedita pariatur voluptatem, similique totam rem impedit amet nihil?
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Filter Section E -->

  <!-- Suggestion Section S -->
  <!-- <div class="listViewScrollContainer"> -->
  <div class="suggestionListSection" id="scrollBar">
    <div class="listCardContainer">
      <div class="suggestionCard">
        <mat-card>
          <mat-card-content>
            <div class="detailsGridContainer">
              <div class="detail1">
                <div id="detail1">
                  <span id="iconLabel"><mat-icon>confirmation_number</mat-icon><mat-label>S ID:</mat-label>
                    1017</span>
                  <span id="iconLabel"><mat-icon>access_time</mat-icon> 274 days</span>
                  <span id="iconLabel"><mat-icon>calendar_today</mat-icon> 24-June-2023</span>
                </div>
              </div>
              <div class="detail2">
                <div class="profileImage">
                  <span><mat-icon> person_pin</mat-icon></span>
                  <p id="nameLabel">Sachin Shindae</p>
                </div>

                <div id="detail2">
                  <mat-chip class="listCardTitleChip">Suggestion:</mat-chip>
                  <p>to provide a telephone</p>
                  <p>Self implemented</p>
                </div>
              </div>
              <div class="detail3">
                <div id="detail3">
                  <span id="iconLabel"><mat-icon>card_travel</mat-icon><mat-label>Plant:</mat-label> Unit - 1</span>
                  <span id="iconLabel"><mat-icon>explore</mat-icon><mat-label>Dept.</mat-label> PROD</span>
                  <span id="iconLabel"><mat-icon>donut_large</mat-icon><mat-label>Cat</mat-label> Prod</span>
                </div>
              </div>
              <div class="detail4"><span> status: <mat-chip class="listCardChip">In Progress</mat-chip></span></div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <div class="detailsGridContainer">
              <div class="detail1">
                <div id="detail1">
                  <span id="iconLabel"><mat-icon>confirmation_number</mat-icon><mat-label>S ID:</mat-label>
                    1017</span>
                  <span id="iconLabel"><mat-icon>access_time</mat-icon> 274 days</span>
                  <span id="iconLabel"><mat-icon>calendar_today</mat-icon> 24-June-2023</span>
                </div>
              </div>
              <div class="detail2">
                <div class="profileImage">
                  <span><mat-icon> person_pin</mat-icon></span>
                  <p id="nameLabel">Sachin Shindae</p>
                </div>

                <div id="detail2">
                  <mat-chip class="listCardTitleChip">Suggestion:</mat-chip>
                  <p>to provide a telephone</p>
                  <p>Self implemented</p>
                </div>
              </div>
              <div class="detail3">
                <div id="detail3">
                  <span id="iconLabel"><mat-icon>card_travel</mat-icon><mat-label>Plant:</mat-label> Unit - 1</span>
                  <span id="iconLabel"><mat-icon>explore</mat-icon><mat-label>Dept.</mat-label> PROD</span>
                  <span id="iconLabel"><mat-icon>donut_large</mat-icon><mat-label>Cat</mat-label> Prod</span>
                </div>
              </div>
              <div class="detail4"><span> status: <mat-chip class="listCardChip">In Progress</mat-chip></span></div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <div class="detailsGridContainer">
              <div class="detail1">
                <div id="detail1">
                  <span id="iconLabel"><mat-icon>confirmation_number</mat-icon><mat-label>S ID:</mat-label>
                    1017</span>
                  <span id="iconLabel"><mat-icon>access_time</mat-icon> 274 days</span>
                  <span id="iconLabel"><mat-icon>calendar_today</mat-icon> 24-June-2023</span>
                </div>
              </div>
              <div class="detail2">
                <div class="profileImage">
                  <span><mat-icon> person_pin</mat-icon></span>
                  <p id="nameLabel">Sachin Shindae</p>
                </div>

                <div id="detail2">
                  <mat-chip class="listCardTitleChip">Suggestion:</mat-chip>
                  <p>to provide a telephone</p>
                  <p>Self implemented</p>
                </div>
              </div>
              <div class="detail3">
                <div id="detail3">
                  <span id="iconLabel"><mat-icon>card_travel</mat-icon><mat-label>Plant:</mat-label> Unit - 1</span>
                  <span id="iconLabel"><mat-icon>explore</mat-icon><mat-label>Dept.</mat-label> PROD</span>
                  <span id="iconLabel"><mat-icon>donut_large</mat-icon><mat-label>Cat</mat-label> Prod</span>
                </div>
              </div>
              <div class="detail4"><span> status: <mat-chip class="listCardChip">In Progress</mat-chip></span></div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <div class="detailsGridContainer">
              <div class="detail1">
                <div id="detail1">
                  <span id="iconLabel"><mat-icon>confirmation_number</mat-icon><mat-label>S ID:</mat-label>
                    1017</span>
                  <span id="iconLabel"><mat-icon>access_time</mat-icon> 274 days</span>
                  <span id="iconLabel"><mat-icon>calendar_today</mat-icon> 24-June-2023</span>
                </div>
              </div>
              <div class="detail2">
                <div class="profileImage">
                  <span><mat-icon> person_pin</mat-icon></span>
                  <p id="nameLabel">Sachin Shindae</p>
                </div>

                <div id="detail2">
                  <mat-chip class="listCardTitleChip">Suggestion:</mat-chip>
                  <p>to provide a telephone</p>
                  <p>Self implemented</p>
                </div>
              </div>
              <div class="detail3">
                <div id="detail3">
                  <span id="iconLabel"><mat-icon>card_travel</mat-icon><mat-label>Plant:</mat-label> Unit - 1</span>
                  <span id="iconLabel"><mat-icon>explore</mat-icon><mat-label>Dept.</mat-label> PROD</span>
                  <span id="iconLabel"><mat-icon>donut_large</mat-icon><mat-label>Cat</mat-label> Prod</span>
                </div>
              </div>
              <div class="detail4"><span> status: <mat-chip class="listCardChip">In Progress</mat-chip></span></div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="addSuggestionContainer">
        <button mat-raised-button color="primary" type="submit" (click)="createSuggestion()"
          class="addSuggestionBtn"><mat-icon>add_circle</mat-icon> Add Suggestion </button>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- Suggestion Section E -->

  <!-- active board Section S -->
  <div class="activeBoardSection" id="scrollBar">
    <!-- <h1>Add suggestion & suggestion tracker here</h1> -->
    <!-- Add Suggestion section starts -->
    <div class="addSuggestion" *ngIf="showAddSuggestion">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="addSuggestionForm">
            <p class="headerText">Add Suggestion</p>
            <mat-form-field class="full-width-input" floatLabel="always">
              <mat-label>Employee ID</mat-label>
              <input matInput placeholder="Enter your Employee ID" formControlName="empId" required minlength="4"
                maxlength="10">
              <mat-error
                *ngIf="addSuggestionForm.controls?.['empId']?.touched && addSuggestionForm.controls?.['empId']?.errors?.['required']">
                Please enter your User ID
              </mat-error>
              <!-- <mat-error
                *ngIf="loginForm.controls?.['userName']?.touched && loginForm.controls?.['userName']?.errors?.['minlength']">
                Please enter minimum 6 and maximum 14 characters
              </mat-error> -->
            </mat-form-field>


            <button mat-raised-button color="primary" type="submit"
              [disabled]="!addSuggestionForm.valid">Submit</button>
            <button mat-raised-button color="primary">Cancel</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Add Suggestion section ends -->

    <!-- View status section starts -->
    <div class="viewStatus" *ngIf="!showAddSuggestion">
      <p class="headerText">View Status</p>
    </div>
    <!-- View status section ends -->
  </div>
  <!-- active board Section E -->
</div>