<app-loader *ngIf="showLoader"></app-loader>
<div class="container">
  <!-- Filter Section S -->
  <div class="filterSection" >
    <div class="headerText"><p>Filter Section:</p></div>

    <div class="filterCardContainer" id="scrollBar">
      <!-- Main filter section Starts -->
      <mat-card>
        <mat-card-content>
          <form [formGroup]="filterForm">
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Employee ID</mat-label>
                <input matInput type="text" placeholder="Enter your Employee ID" formControlName="empId" minlength="4"
                  maxlength="10">
                <mat-error
                  *ngIf="filterForm.controls?.['empId']?.touched && filterForm.controls?.['empId']?.errors?.['minlength']">
                  Employee ID minimum length is 4
                </mat-error>
                <!-- <mat-error
                  *ngIf="loginForm.controls?.['userName']?.touched && loginForm.controls?.['userName']?.errors?.['minlength']">
                  Please enter minimum 6 and maximum 14 characters
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Suggestion ID</mat-label>
                <input matInput type="text" placeholder="Enter ID" formControlName="suggestionId" minlength="4"
                  maxlength="20">
                <mat-error
                  *ngIf="filterForm.controls?.['suggestionId']?.touched && filterForm.controls?.['suggestionId']?.errors?.['minlength']">
                  Suggestion ID minimum length is 4
                </mat-error>
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Suggestion Title</mat-label>
                <input matInput type="text" placeholder="Enter Title" formControlName="suggestionTitle" minlength="4"
                  maxlength="20">
                <mat-error
                  *ngIf="filterForm.controls?.['suggestionTitle']?.touched && filterForm.controls?.['suggestionTitle']?.errors?.['minlength']">
                  Suggestion title minimum length is 4
                </mat-error>
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Select your Status" formControlName="status">
                  <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option> -->
                  <mat-option value="1">Value 1</mat-option>
                  <mat-option value="2">Value 2</mat-option>
                  <mat-option value="3">Value 3</mat-option>
                </mat-select>

                <!-- <mat-error
                  *ngIf="filterForm.controls?.['status']?.touched && filterForm.controls?.['status']?.errors?.['required']">
                  Please select your Status
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="mainFilterField" floatLabel="always">
                <mat-label>Grade</mat-label>
                <mat-select placeholder="Select your Grade" formControlName="grade">
                  <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option> -->
                  <mat-option value="1">Value 1</mat-option>
                  <mat-option value="2">Value 2</mat-option>
                  <mat-option value="3">Value 3</mat-option>
                </mat-select>
                <!-- <mat-error
                  *ngIf="filterForm.controls?.['grade']?.touched && filterForm.controls?.['grade']?.errors?.['required']">
                  Please enter your Line
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="mainFilterField dateRange" floatLabel="always">
                <mat-label>Select a Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="fromDate" placeholder="DD-MM-YYYY">
                  <input matEndDate formControlName="toDate" placeholder="DD-MM-YYYY">
                </mat-date-range-input>
                <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

            <div class="flexItem actionBtn">
              <button mat-raised-button color="primary" (click)="applyFilter()" [disabled]="filterForm.pristine">Apply</button>
              <button mat-raised-button color="warn" (click)="cancelFilter()">Reset</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <!-- Main filter section Ends -->
      <!-- Secondary filter starts -->
      <mat-card>
        <mat-card-content>
          <div class="filterCard">
            <div class="cardButton" (click)="cardFilterChange('All')" [ngClass]="filterType == 'All' ? 'active' : ''">
              <span id="noSpan">777</span>
              <span id="textSpan">All Suggestions</span>
            </div>

            <div class="cardButton" (click)="cardFilterChange('My')" [ngClass]="filterType == 'My' ? 'active' : ''">
              <span id="noSpan">222</span>
              <span id="textSpan">My Suggestions</span>
            </div>
          </div>

          <div class="filterCard">
          <div class="cardButton" (click)="cardFilterChange('Pen')" [ngClass]="filterType == 'Pen' ? 'active' : ''">
            <span id="noSpan">111</span>
            <span id="textSpan">My Pending Suggestions</span>
          </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Secondary filter ends -->
    </div>
  </div>
  <!-- Filter Section E -->

  <!-- Suggestion Section S -->
  <!-- <div class="listViewScrollContainer"> -->
  <div class="suggestionListSection" >
    <div class="headerText"><p>Suggestion List:</p></div>

    <div class="listCardContainer" id="scrollBar" #listView>
      <div class="suggestionCard">
        <mat-card *ngFor="let suggestion of suggestionList; let i = index;" [ngClass]="{'selected-card': selectedSuggestionIndex === i}" (click)="suggestionSelect(suggestion, i)">
          <mat-card-content>
            <div class="detailsGridContainer">
              <div class="detail1">
                <div id="detail1">
                  <span id="iconLabel"><mat-icon>confirmation_number</mat-icon><mat-label>S ID:</mat-label>
                    {{ suggestion?.ID }}</span>
                  <span id="iconLabel"><mat-icon>access_time</mat-icon> {{ suggestion?.CreatedInDays }}</span>
                  <span id="iconLabel"><mat-icon>calendar_today</mat-icon> {{ suggestion?.CreatedDate}}</span>
                </div>
              </div>
              <div class="detail2">
                <div class="profileImage">
                  <span><mat-icon> person_pin</mat-icon></span>
                  <p id="nameLabel">{{ suggestion?.EmpName}}</p>
                </div>

                <div id="detail2">
                  <mat-chip class="listCardTitleChip"> {{ suggestion?.Title }}</mat-chip>
                  <p>{{ suggestion?.Issue }}</p>
                  <p>{{ suggestion?.Idea }}</p>
                  <p>{{ suggestion?.Remarks }}</p>
                </div>
              </div>
              <div class="detail3">
                <div id="detail3">
                  <span id="iconLabel"><mat-icon>card_travel</mat-icon><mat-label>Dpartment:</mat-label><p [title]="suggestion?.Department"> {{ suggestion?.Department }} </p></span>
                  <span id="iconLabel"><mat-icon>explore</mat-icon><mat-label>Line:</mat-label> 
                    <p [title]="suggestion?.Line">{{ suggestion?.Line }}</p></span>
                  <span id="iconLabel"><mat-icon>donut_large</mat-icon><mat-label>Zone:</mat-label> <p [title]="suggestion?.Zone">{{ suggestion?.Zone }}</p></span>
                </div>
              </div>
              <div class="detail4"><span> status: <mat-chip class="listCardChip">{{ suggestion?.Status }}</mat-chip></span></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="addSuggestionContainer">
        <button mat-raised-button color="primary" type="submit" (click)="createSuggestion()"
          class="addSuggestionBtn"><mat-icon>add_circle</mat-icon> Create Suggestion </button>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- Suggestion Section E -->

  <!-- active board Section S -->
  <div class="activeBoardSection" >
    <!-- <h1>Add suggestion & suggestion tracker here</h1> -->
    <!-- Add Suggestion section starts -->
    <div class="addSuggestion" *ngIf="showAddSuggestion">
      <div class="headerText"><p>Create Suggestion:</p></div>
      <div class="createSuggestionContainer" id="scrollBar">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="addSuggestionForm">
            <!-- Row 1 -->
            <div class="flexItem">
              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Employee ID</mat-label>
                <input matInput type="text" placeholder="Enter your Employee ID" formControlName="empId" required minlength="4"
                  maxlength="10">
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['empId']?.touched && addSuggestionForm.controls?.['empId']?.errors?.['required']">
                  Please enter your Employee ID
                </mat-error>
                <!-- <mat-error
                  *ngIf="loginForm.controls?.['userName']?.touched && loginForm.controls?.['userName']?.errors?.['minlength']">
                  Please enter minimum 6 and maximum 14 characters
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Employee Name</mat-label>
                <input matInput type="text" placeholder="Enter your Name" formControlName="empName" required minlength="4"
                  maxlength="20">
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['empName']?.touched && addSuggestionForm.controls?.['empName']?.errors?.['required']">
                  Please enter your Name
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 2 -->
            <div class="flexItem">
              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Employee Department</mat-label>
                <mat-select placeholder="Select your Department" formControlName="department" ngDefaultControl required (selectionChange)="departmentChange($event)">
                  <mat-option *ngFor="let dept of department" [value]="dept">
                    {{ dept?.Department }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['department']?.touched && addSuggestionForm.controls?.['department']?.errors?.['required']">
                  Please select your Department
                </mat-error>
              </mat-form-field>

              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Employee Line</mat-label>
                <mat-select placeholder="Select your Line" formControlName="line" ngDefaultControl required (selectionChange)="lineChange($event)">
                  <mat-option *ngFor="let li of line" [value]="li">
                    {{ li?.Line }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['line']?.touched && addSuggestionForm.controls?.['line']?.errors?.['required']">
                  Please enter your Line
                </mat-error>
              </mat-form-field>

              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Employee Zone</mat-label>
                <mat-select placeholder="Select your Zone" formControlName="zone" ngDefaultControl (selectionChange)="zoneChange($event)">
                  <mat-option *ngFor="let zo of zone" [value]="zo">
                    {{ zo?.Zone }}
                  </mat-option>
                </mat-select>

                <mat-error
                  *ngIf="addSuggestionForm.controls?.['zone']?.touched && addSuggestionForm.controls?.['zone']?.errors?.['required']">
                  Please select your Zone
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 3 -->
            <div class="flexItem">
              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Suggestion Title</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" placeholder="Enter Suggestion Title" formControlName="title"></textarea>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['title']?.touched && addSuggestionForm.controls?.['title']?.errors?.['required']">
                  Please enter suggestion Title
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 4 -->
            <div class="flexItem">
              <mat-form-field class="flexItemLeft" floatLabel="always">
                <mat-label>Issue</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Enter Issue" formControlName="issue"></textarea>

                <mat-error
                  *ngIf="addSuggestionForm.controls?.['issue']?.touched && addSuggestionForm.controls?.['issue']?.errors?.['required']">
                  Please enter Issue details
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 5 -->
            <div class="flexItem">
              <mat-form-field class="flexItemRight" floatLabel="always">
                <mat-label>Suggestion Idea</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Enter Suggestion idea" formControlName="idea"></textarea>
                <mat-error
                  *ngIf="addSuggestionForm.controls?.['idea']?.touched && addSuggestionForm.controls?.['idea']?.errors?.['required']">
                  Please enter suggestion Idea
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Row 6 -->
            <div class="flexItem">
              <mat-form-field class="flexItemCenter" floatLabel="always">
                <mat-label>Remarks</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6" placeholder="Enter Remarks" formControlName="remarks"></textarea>

                <mat-error
                  *ngIf="addSuggestionForm.controls?.['remarks']?.touched && addSuggestionForm.controls?.['remarks']?.errors?.['required']">
                  Please enter Remark
                </mat-error>
              </mat-form-field>
            </div>

            <div class="flexItem actionBtn">
              <button mat-raised-button color="primary" (click)="addSuggestion(); scrollToTop(listView);"
                [disabled]="!addSuggestionForm.valid">Submit</button>
              <button mat-raised-button color="warn" (click)="cancelSuggestion()">Cancel</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
    <!-- Add Suggestion section ends -->

    <!-- View status section starts -->
    <div class="viewStatus" *ngIf="!showAddSuggestion">
      <div class="headerText"><p>View Suggestion:</p></div>
      <mat-card>
        <mat-card-content>
          <div class="containerTimeLine" id="scrollBar">

            <div class="timeline-block timeline-block-right">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <div class="timeline-content">
                  <h3>First Year</h3>
                  <span>Some work experience</span>
                  
              </div>
            </div>
        
            <div class="timeline-block timeline-block-left">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <div class="timeline-content">
                  <h3>Seconed Year</h3>
                  <span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span><span>Some work experience</span>
                  
              </div>
            </div>
        
            <div class="timeline-block timeline-block-right active">
              <div class="marker active"><mat-icon>check</mat-icon></div>
              <div class="timeline-content">
                  <h3>Third Year</h3> 
                  <span>Some work experience</span>
                  
              </div>
            </div>
        
            <div class="timeline-block timeline-block-left">
              <div class="marker"><mat-icon>check</mat-icon></div>
              <div class="timeline-content">
                  <h3>Fourth Year</h3>
                  <span>Some work experience</span>
                  
              </div>
            </div>
        
            <div class="timeline-block timeline-block-right">
              <div class="marker"><i class="fa fa-check" aria-hidden="true"></i></div>
              <div class="timeline-content">
                  <h3>Fifth Year</h3>
                  <span>Some work experience</span>
                
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- View status section ends -->
  </div>
  <!-- active board Section E -->
</div>