.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--sub-color2);
  // width: 90vw;
  // overflow-y: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 1%;
}

.headerText {
  color: var(--main-color);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  display: flex;
  justify-content: flex-start;
  padding: 0 0.5em;
  // position: sticky;
}

.filterSection {
  // flex-grow: 2;
  flex: 0 0 22%; // 21%
  border-right: 2px solid var(--border-color1);

  .filterCardContainer {
    height: 94vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0.5em;
  }

  .mat-mdc-card {
    margin-bottom: 1em !important;
  }

  .mat-mdc-card-content {
    padding: 0.7em !important;
    border-radius: 0.1em !important;
  }

  .mainFilterField {
    width: 100%;
    // margin-bottom: 0.3em;
    font-size: 1em;

    .mat-mdc-form-field-error {
      font-size: 0.8em !important;
    }

    .mat-mdc-select {
      font-size: 1em;
    }

    .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
      height: 1.5em !important;
    }
  }

  .actionBtn {
    display: flex;
    justify-content: space-evenly;
  }

  .filterCard {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    .cardButton {
      display: flex;
      flex-flow: column;
      padding: 0.5em;
      border-radius: 0.5em;
      // border: 2px solid var(--main-color);
      cursor: pointer;
      background-color: var(--sub-color3);

      #noSpan {
        font-weight: 600;
      }

      #textSpan {
        font-size: 0.9em;
      }
    }

    .cardButton:hover {
      outline: solid 1px var(--main-color);
      // transition: outline 2s linear;
      // background-color: var(--border-color1);
    }

    .active {
      border: 3px solid var(--main-color);

      #noSpan {
        color: var(--main-color);
      }
    }
  }
}

// .listViewScrollContainer {
//   overflow-x: hidden;
//   overflow-y: scroll;
//   white-space: nowrap;
// }

.suggestionListSection {
  // flex-grow: 2;
  // flex: 0 0 27%;
  flex: 0 0 30%;
  // padding: 0.5em;
  border-right: 2px solid var(--border-color1);

  .listCardContainer {
    height: 94vh;
    padding: 0.5em;
    overflow: scroll;
    overflow-x: hidden;
  }

  .mat-mdc-card {
    margin-bottom: 1em !important;
    cursor: pointer;
    border: 4px solid transparent;
  }

  .mat-mdc-card-content {
    padding: 0.7em !important;
    border-radius: 0.1em !important;
    // box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 1),
    //   0 1px 1px 0 rgba(0, 0, 0, 1),
    //   0 1px 3px 0 rgba(0, 0, 0, 1) !important;
  }

  .mat-mdc-card-content:hover {
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 4px 4px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }

  .selected-card {
    border: 3px solid var(--main-color);
    border-radius: 0.1em !important;
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 4px 4px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: border .4s, border-radius .4s, background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }

  .noListCard {
    border: none !important;
    cursor: none !important;
    box-shadow: none !important;
    h3 {
      text-align: center;
    }
  }

  .mat-icon {
    font-size: 1.3em !important;
    height: 14px !important;
    width: 14px !important;
    color: var(--main-color);
    margin-right: 0.2em;
  }

  #iconLabel {
    display: flex;
    align-items: center;

    p {
      margin: 0 !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 8ch;
    }
  }

  .detail1 {
    grid-area: header;
    border-bottom: 1px solid var(--border-color1);
  }

  #detail1 {
    display: flex;
    justify-content: space-between;
  }

  .detail2 {
    grid-area: main;
    display: contents;
  }

  .profileImage {
    grid-area: menu;
    text-align: center;
    // padding-right: 1em;
    border-right: 1px solid var(--border-color1);
    width: 7em;


    .mat-icon {
      font-size: 5em !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0;
    }

    #nameLabel {
      margin: 0;
      font-weight: 500;
      word-wrap: break-word;
    }
  }

  #detail2 {
    display: flex;
    flex-flow: column;

    p {
      margin-bottom: 0.2em !important;
    }
  }

  .detail3 {
    grid-area: subFooter;
    border-top: 1px solid var(--border-color1);
    border-bottom: 1px solid var(--border-color1);
  }

  #detail3 {
    display: flex;
    justify-content: space-between;

    span {
      margin: 0.2em 0;
      letter-spacing: 0;
    }

    .mat-icon {
      padding-right: 0.3em;
    }
  }

  .detail4 {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
  }

  .detailsGridContainer {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'subFooter subFooter subFooter subFooter subFooter subFooter'
      'footer footer footer footer footer footer';
    gap: 0.5em;
    font-size: 0.8em;
    // background-color: #2196F3;
    // padding: 10px;
  }
}

.addSuggestionContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;

  .addSuggestionBtn {
    .mat-icon {
      color: var(--sub-color3) !important;
      height: 18px !important;
      width: 18px !important;
    }
  }
}

.activeBoardSection {
  // flex: 0 0 48%;
  padding: 0 0.5em;
  flex: 1;
}

.addSuggestion {
  // max-width: 90% !important;

  .createSuggestionContainer {
    height: 94vh;
    overflow: scroll;
    overflow-x: hidden;
    // padding: 0.5em;
  }

  .mat-mdc-card {
    margin-top: 0.5em;
    margin-right: 0.5em;
    // height: 94vh !important;
    // max-width: 94% !important;
  }

  .flexItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    // justify-content: space-around;

    .flexItemLeft, .flexItemRight{
      padding: 0.5em 1em !important;
      flex: 50% !important;
    }

    .flexItemCenter {
      padding: 0.5em 1em !important;
      flex: 100% !important;
    }
  
      .mat-mdc-form-field-error {
        font-size: 0.8em !important;
      }
  
      .mat-mdc-select {
        font-size: 1em;
      }
  
      .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
        height: 1.5em !important;
      }
  }

  .actionBtn {
    justify-content: center !important;

    button {
      margin: 1em;
    }
  }
}

.scrollBar1 {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

// Timeline style starts

.viewSuggestionDetails {
  padding-right: 0.2em;
  .mat-mdc-card-content {
    padding: 0.5em !important;
  }

  .mat-icon {
    font-size: 1.3em !important;
    height: 18px !important;
    width: 18px !important;
    color: var(--main-color);
    margin-right: 0.2em;
  }

  #iconLabel {
    display: flex;
    align-items: center;

    p {
      margin: 0 !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // max-width: 8ch;
    }
  }

  .detail1 {
    grid-area: header;
    border-bottom: 1px solid var(--border-color1);
  }

  #detail1 {
    display: flex;
    justify-content: space-between;
  }

  .detail2 {
    grid-area: main;
    display: contents;
  }

  .profileImage {
    grid-area: menu;
    text-align: center;
    // padding-right: 1em;
    border-right: 1px solid var(--border-color1);
    width: 7em;


    .mat-icon {
      font-size: 5em !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0;
    }

    #nameLabel {
      margin: 0;
      font-weight: 500;
      word-wrap: break-word;
    }
  }

  #detail2 {
    display: flex;
    flex-flow: column;

    p {
      margin-bottom: 0.2em !important;
    }
  }

  .detail3 {
    grid-area: subFooter;
    border-top: 1px solid var(--border-color1);
    border-bottom: 1px solid var(--border-color1);
  }

  #detail3 {
    display: flex;
    justify-content: space-between;

    span {
      margin: 0.2em 0;
      // letter-spacing: 0;
    }

    .mat-icon {
      padding-right: 0.3em;
    }
  }

  .detail4 {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
  }

  .detailsGridContainer {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'subFooter subFooter subFooter subFooter subFooter subFooter'
      'footer footer footer footer footer footer';
    gap: 0.5em;
    font-size: 0.9em;
    // background-color: #2196F3;
    // padding: 10px;
  }
}

// * {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   outline: none;
// }

// body {
//   margin: 0;
//   padding: 30px 0;
//   font-family: 'Roboto', sans-serif;
//   background: #F1F2F6;
// }

.viewStatus {
  // display: none;
  .mat-mdc-card {
    margin-top: 0.5em;
    margin-right: 0.5em;
  }

  .mat-mdc-card-content {
    padding-right: 0;
  }

  .loginErrorMessage {
    text-align: center;
    padding-top: 1em;
    font-size: 1.3em;
  }
}

h1 {
  text-align: center;
  font-weight: 300;
  color: #777
}

h1 span {
  font-weight: 600;
}

.containerOverflow {
  // width: 80%;
  // padding: 50px 0;
  // margin: 50px auto;
  // position: relative;
  // overflow: hidden;

  height: 60vh;
  margin-top: 1em;
  // height: auto;
  overflow: scroll;
  overflow-x: hidden;
}

.containerTimeLine:before {
  content: '';
  position: absolute;
  // top: 0;
  // left: 50%;
  margin-left: 1.4em;
  width: 2px;
  // height: 100%;
  height: 94%;
  background: var(--border-color1);
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--sub-color2);
  background: var(--border-color1);
  margin-top: 10px;
  z-index: 998;
  text-align:center;
  position: relative;
  left:4px;

  mat-icon {
    display: none;
  }
}

.marker.active{
 width: 40px;
 height: 37px;
 background: var(--main-color);
 left: 0px;

 mat-icon {
  display: block;
  color: var(--sub-color2);
  line-height: 1.5;
  padding-left: 0.3em;
 }
}

.marker.partialActive {
  background-color: var(--sub-color1) !important;
}
.timeline-content {
  width: 95%;
  // padding: 0 15px;
  padding: 0.5em 1em 0 0;
  color: #666
}
i.fa.fa-check{
 display:none;
}
i.fa.fa-check.active {
display:block !important;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   margin: auto;
   height: 50%;
 color:#fff;
}

.timeline-content h3 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500
}

.timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}



  .container:before {
     left: 19px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
    //  margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }

  .timeline-block-left {
     float: none;
     direction: ltr;
  }

  .mat-accordion {
    // position: absolute !important;
    margin-bottom: 1em;
  }

  // .mat-expansion-panel-header {
  //   margin-left: 3em !important;
  // }

  .flexItemVS {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0 0 0;
    flex-wrap: wrap !important;
    // justify-content: space-between;
    justify-content: flex-start;

    button {
      margin-right: 2em;
      margin-bottom: 1em;
    }

    .flexItemRight {
      mat-toolbar {
        padding: 0 !important;
        height: 24px !important;
        background-color: #fff !important;

        .mat-mdc-input-element {
          font-size: 0.6em !important;
          font-weight: 300 !important;
        }
      }
      mat-icon {
        color: var(--main-color) !important;
        cursor: pointer !important;
        font-size: 1em;
        // padding: 0.2em;
        margin-top: 0.2em;
      }
    }
  }
  
  .actionBtnVS {
    display: flex;
    justify-content: flex-start;
  }

  .containerTimeLine {
    .flexItemVsLabel {
      // flex: 30%;
    }

    .flexItemField {
      // flex: 70%;
    }
    .pt {
      padding-top: 1em !important;
    }

    .pb {
      padding-bottom: 1em !important;
    }

    .ml {
      margin-left: 1em !important;
    }

    .mr {
      margin-right: 1em !important;
    }
  }
  

  .labelText {
    // justify-content: space-between !important;
  }

  .mat-expansion-panel-header {
    height: 3em !important;
  }
  .mat-expansion-panel-header.mat-expanded {
    background-color: var(--sub-color2) !important;
    height: 3em !important;
}

#fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 110%;
  cursor: pointer;
}

.imageViewButton {
  padding: 0.1em;
  color: var(--main-color);
  cursor: pointer;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;

  h1 {
    margin-bottom: 0 !important;
  }

  // .h2 {
  //   margin: 0 !important;
  //   padding: 0.5em !important;
  // }

  mat-icon {
    margin-top: 0.4em;
    padding: 0.5em;
    cursor: pointer;
  }
}


// Timeline style ends