<app-loader *ngIf="showLoader"></app-loader>
<div class="filterHeader">
<mat-card>
  <mat-card-content>
    <div class="filterSection">
      <!-- <h2>Filter:</h2>  -->
      <button mat-stroked-button color="primary" (click)="filterChart('1')" [class.phase-active]="filterValue === '1'">1M</button>
      <button mat-stroked-button color="primary" (click)="filterChart('6')" [class.phase-active]="filterValue === '6'">6M</button>
      <button mat-stroked-button color="primary" (click)="filterChart('12')" [class.phase-active]="filterValue === '12'">1Y</button>
      <mat-form-field class="mainFilterField dateRange" floatLabel="always">
        <mat-label>Select a Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
          <input matStartDate placeholder="DD-MM-YYYY" readonly (click)="picker.open()" (dateChange)="dateChangeStart($event)" [(ngModel)]="startDate">
          <input matEndDate placeholder="DD-MM-YYYY" readonly (click)="picker.open()" (dateChange)="dateChangeEnd($event)" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <div class="filterLabel">
        <mat-label>Applied Filter: <span>{{ appliedFilterValue }}</span></mat-label>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>

<div class="chartContainer" id="scrollBar">
  <div id="row1">
        <!-- Bar chart -->
        <div class="chart1">
          <mat-card>
            <mat-card-content>
              <!-- style="margin-top: 3em;" -->
              <canvas baseChart style="min-height: 300px"
                    [data]="barChartData1"
                    [options]="barChartOptions1"
                    [plugins]="barChartPlugins1"
                    [legend]="barChartLegend1"
                    [type]="'bar'">
              </canvas>
            </mat-card-content>
          </mat-card>
        </div>
    
    <!-- pie chart -->
    <div class="chart2">
      <mat-card>
        <mat-card-content>
          <canvas baseChart style="min-height: 300px"
                    [data]="barChartData2"
                    [options]="barChartOptions2"
                    [plugins]="barChartPlugins2"
                    [legend]="barChartLegend2"
                    [type]="'bar'">
              </canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div id="row2">
    <!-- Pie chart -->
    <div class="chart3">
      <mat-card>
        <mat-card-content>
          <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets1"
            [labels]="pieChartLabels1"
            [options]="pieChartOptions1"
            [plugins]="pieChartPlugins1"
            [legend]="pieChartLegend1">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Pie chart -->
    <div class="chart4">
      <mat-card>
        <mat-card-content>
          <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets2"
            [labels]="pieChartLabels2"
            [options]="pieChartOptions2"
            [plugins]="pieChartPlugins2"
            [legend]="pieChartLegend2">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
<!-- style="display: none;" -->
