// Chart styles start
.chart1, .chart2, .chart3, .chart4 {
  flex: 1;
  padding: 1em;

  canvas {
    // height: 30% !important;
    // width: 100% !important;
    margin: auto;
  }
}

.chartContainer {
  height: 94vh;
  margin-top: 1em;
  overflow: scroll;

  #row1, #row2 {
    display: flex;
    flex-wrap: wrap;
  }

  #row2 {
    margin-bottom: 3em;
  }
}
// chart style ends

// filter style starts
.filterHeader {
  margin: 1em;

  .mat-mdc-card-content {
    padding-bottom: 0 !important;
  }

  .filterSection {
    button {
      margin-right: 1em;
      height: 30px;
    }

    .phase-active{
      // background-color: var(--main-color) !important;
      border: 2px solid var(--main-color) !important;
      color: var(--main-color) !important;
      
      .mdc-button__label {
        color: --sub-color3 !important;
        font-weight: 800 !important;
      }
    }

    .mdc-button__label {
      font-size: 1em !important;
    }
    .mat-date-range-input {
      font-size: 0.8em !important;
    }

    .filterLabel {
      display: inline-block;
      margin-left: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;

      span {
        font-weight: 700;
        color: var(--main-color);
      }
    }
  }
}
// filter style ends

.selectContainer {
  position: absolute;
}