mat-card {
  max-width: 25em;
  margin: 2em auto;
  text-align: center;
}

.backgroundImage {
  position: absolute;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  // background: url("../assets/suggestion-bg.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -o-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;
  // filter: blur(5px);
  // -webkit-filter: blur(5px);
  // opacity: 0.7;
}

.content {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to left, var(--main-color), var(--sub-color1));
  height: 100vh;
  width: 100%;
}

.textContent {
  flex-grow: 4;
  padding: 2em 8em;

  h1,
  li {
    list-style: none;
    font-family: "Asap", sans-serif !important;
    position: relative;
    z-index: 2;
    color: var(--sub-color2);
  }

  h1 {
    font-size: 5em;
    font-weight: 600;
  }

  ul {
    padding: 16px;
  }
}

.loginContent {
  flex-grow: 1;
  padding: 3.5em 1em;
}

.full-width-input {
  width: 100%;
  margin-bottom: 1.2em;
}

.headerText {
  font-size: 1.5em;
  line-height: 2;
}

.toolbar {
  display: flex;
  height: 3em;
  align-items: center;
  text-align: center;
  background-color: #1976d2;
  color: white;
  font: 24px 600;

  h2 {
    margin: auto;
  }
}

.hrText {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  margin: 1em 0;

  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}