<!-- <div class="toolbar">
  <h2>User Master</h2>
</div> -->
<!-- <div class="backgroundImage"></div> -->
<app-loader *ngIf="showLoader"></app-loader>
<div class="content">
  <div class="textContent">
    <h1>Suggestion..</h1>
    <ul>
      <li>An idea or plan put forward for consideration.!</li>
      <li>Something that implies or indicates a certain fact or situation.!</li>
      <li>Here are some suggestions for tackling the problem.!</li>
    </ul>
  </div>
  <div class="loginContent">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p class="headerText">Log in to continue</p>
          <mat-form-field class="full-width-input" floatLabel="always">
            <mat-label>Employee ID</mat-label>
            <input matInput placeholder="Enter your Employee ID" formControlName="empId" required minlength="3"
              maxlength="20">
            <mat-error
              *ngIf="loginForm.controls?.['empId']?.touched && loginForm.controls?.['empId']?.errors?.['required']">
              Please enter your Employee ID
            </mat-error>
            <mat-error
              *ngIf="loginForm.controls?.['empId']?.touched && loginForm.controls?.['empId']?.errors?.['minlength']">
              Please enter minimum 3 and maximum 14 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input" floatLabel="always">
            <mat-label>Password</mat-label>
            <input matInput [type]="viewPassword ? 'text' : 'password'" placeholder="Enter your Password"
              formControlName="password" required minlength="6" maxlength="20">
            <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
            <mat-error
              *ngIf="loginForm.controls?.['password']?.touched && loginForm.controls?.['password']?.errors?.['required']">
              Please enter your password
            </mat-error>
            <mat-error
              *ngIf="loginForm.controls?.['password']?.touched && loginForm.controls?.['password']?.errors?.['minlength']">
              Please enter minimum 6 and maximum 20 characters
            </mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width-input" floatLabel="always" *ngIf="loginForm.controls?.['confirmPassword']?.status != 'DISABLED'">
            <mat-label>Confirm Password</mat-label>
            <input matInput type='password' placeholder="Enter your Password"
              formControlName="confirmPassword" required minlength="6" maxlength="20" (change)="comparePassword()">
            <!-- <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon> -->
            <mat-error
              *ngIf="loginForm.controls?.['confirmPassword']?.touched && loginForm.controls?.['confirmPassword']?.errors?.['required']">
              Please enter your password
            </mat-error>
            <mat-error
              *ngIf="loginForm.controls?.['confirmPassword']?.touched && loginForm.controls?.['confirmPassword']?.errors?.['minlength']">
              Please enter minimum 6 and maximum 20 characters
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || notMatch"> 
            {{ loginForm.controls['confirmPassword'].status != 'DISABLED' ? 'Update Password' :  'Log in' }}</button>
          <mat-error *ngIf="isUserInvalid">{{loginResMsg}}</mat-error>
        </form>

        <hr class="hrText" data-content="OR">
        <button mat-raised-button color="primary" type="submit" (click)="navigateToViewSuggestion()">View Suggestion
          List</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>