.sidenav {
  width: 200px;

  .toggle {
    justify-content: space-around;
  }
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;

  &:hover {
    cursor: pointer;
  }
}

.nav {
  mat-icon, p {
    color: var(--sub-color2) !important;
    // font-size: 1em !important;
  }
  
  .active-link {
    background-color: var(--sub-color2);
    border-left: solid 3px var(--main-color);

    mat-icon, p {
      color: var(--main-color) !important;
    }
  }

  .hover {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transform, border, background-color;

    mat-icon, p {
      // color: var(--main-color) !important;
    }
  }

  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: var(--sub-color2);
      border-left: solid 3px var(--main-color);

      mat-icon, p {
        color: var(--main-color) !important;
      }
    }
  }

  .mdc-list-item__primary-text {
    display: flex !important;
  }
}

.logIn {
  position: absolute !important;
  bottom: 0 !important;
  width: -webkit-fill-available !important;
}

// .logOutDialog {
//   width: 400px;
//   height: 400px;

.dialogHeader {
  display: flex;
  justify-content: space-between;
  height: 3em;

  .h2 {
    margin: 0 !important;
    padding: 0.5em !important;
  }
  
  .details {
    display: flex !important;
    flex-direction: column !important;
    
    li {
      list-style: none;
      font-weight: 500;
    }
  }

  mat-icon {
    margin-top: 0.4em;
    padding: 0.5em;
    cursor: pointer;
  } 
}

.mat-mdc-dialog-actions {
  justify-content: end;
}
// }