<section [class.sidenav]="isExpanded">
  <div class="toggle">
    <h1 *ngIf="isExpanded">logo</h1>
    <mat-icon (click)="toggleMenu.emit(null)">
      {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
    </mat-icon>
  </div>

  <mat-list class="nav" *ngFor="let route of routeLinks">
    <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="{{ route.link }}">
      <mat-icon mat-list-icon [matTooltip]="!isExpanded ? route.name : 'null'" matTooltipPosition="right">
        {{ route.icon }}</mat-icon>
      <p matLine *ngIf="isExpanded">{{ route.name }}</p>
    </a>
  </mat-list>

  <mat-list class="nav logIn" *ngIf="loginId == 0">
    <a mat-list-item class="hover" routerLink="" (click)="logIn()">
      <mat-icon mat-list-icon [matTooltip]="!isExpanded ? 'Log In' : 'null'" matTooltipPosition="right">person</mat-icon>
      <p matLine *ngIf="isExpanded">Log In</p>
    </a>
  </mat-list>

  <mat-list class="nav logIn" *ngIf="loginId != 0">
    <a mat-list-item class="hover" routerLink="" (click)="logOut()">
      <mat-icon mat-list-icon [matTooltip]="!isExpanded ? 'Log Out' : 'null'" matTooltipPosition="right">assignment_return</mat-icon>
      <p matLine *ngIf="isExpanded">Log Out</p>
    </a>
  </mat-list>
</section>